{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <form action="/quoted" method="get">
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ symbol }}</td>
                        <td>{{ name }}</td>
                        <td>{{ price }}</td>
                        <td><a class="button greenButton" href="/buy?symbol={{ symbol }}">Buy</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}
