{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <label for="symbol">Stock's symbol : </label>
            <select autofocus class="form-control" id="symbol" name="symbol">
                {% for row in menu %}
                <option>{{  row["symbol"]  }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placeholder="Number of shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/autofill.js"></script>
{% endblock %}